// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-page {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}