<div id="main-container" class="container col-12 col-xs-12 col-sm-12 col-lg-12">
  <center>
    <%= image_tag @photo.source.url(:original), style: 'max-width: 100%' %>
    <p style="font-size: 25px"><strong>Author:</strong> <%=@photo.album.user.name%></p>
    <p style="font-size: 20px">Views: <%= @photo.views %></p>
  </center>

</div>