<div class="col-12 col-xs-12 col-sm-12 col-lg-12">
  <div class="col-6 col-xs-6 col-sm-6 col-lg-6">
    <%= link_to (image_tag '//farm5.staticflickr.com/4494/37258486270_547f2263ac_o_d.png', style:'width: 100% ; height:100%'),home_path %>
  </div>
  <div class="col-6 col-xs-6 col-sm-6 col-lg-6">
    <%= link_to (image_tag '//farm5.staticflickr.com/4448/37516831841_69a3a599cb_o_d.png', style:'width: 100%; height:100%'),albums_path %>
  </div>
  <div class="col-6 col-xs-6 col-sm-6 col-lg-6">
    <%= link_to (image_tag '//farm5.staticflickr.com/4513/37258485870_fb0c0377f2_o_d.png', style:'width: 100% ; height:100%'),about_path %>
  </div>
  <div class="col-6 col-xs-6 col-sm-6 col-lg-6">
    <%= link_to (image_tag '//farm5.staticflickr.com/4448/37258486090_bf44e98d97_o_d.png', style:'width: 100% ; height:100%'),blogs_path %>
  </div>
</div>
