
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi,  <%= @user.name %></h1>
    <p>
      <%= @user_comment.name %> left a comment on your blog.<br>
    </p>
      <%= link_to 'View comments', @url %>
  </body>
</html>
