
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi,  <%= @user.name %></h1>
    <p>
      Welcome to FastBlog.<br>
    </p>
    <p>
      Now you can create your first blog at <%= link_to 'here', @url %>
  </body>
</html>
