<div class="jumbotron">
  <a href="javascript:;" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
  <h1>About us!</h1>
  <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
</div>
<div class="row">
  <div class="col-7 col-sm-7 col-lg-6">
    <div class="col-xs-12 col-sm-12">
      <div class="col-xs-4 col-sm-4 pull-left">
        <img src="https://farm5.staticflickr.com/4492/37410591241_7cb21d6b63_o_d.jpg" style="width: 150px;height: 150px"/>
      </div>
      <div class="col-xs-8 col-sm-8" style="padding-top: 10px; padding-left: 20px">
        <p><b>Student ID:</b> 1412144</p>
        <p><b>Name:</b> Do Truong Hai</p>
        <p><b>Email:</b> truonghai.itus@gmail.com</p>
        <p><b>Phone:</b> (+84)1234 567 899 99</p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </div>
    </div>
    <br>
    <div class="col-xs-12 col-sm-12">
      <div class="col-xs-4 col-sm-4  pull-left">
        <img src="https://farm5.staticflickr.com/4492/37410591241_7cb21d6b63_o_d.jpg" style="width: 150px;height: 150px"/>
      </div>
      <div class="col-xs-8 col-sm-8" style="padding-top: 10px">
        <p><b>Student ID:</b> 1412291</p>
        <p><b>Name:</b> Lu Tam Long</p>
        <p><b>Email:</b> lulong205@gmail.com</p>
        <p><b>Phone:</b> (+84)1234 567 899 99</p>
        <a href="javascript:;" class="fa fa-facebook"></a>
        <a href="javascript:;" class="fa fa-twitter"></a>
        <a href="javascript:;" class="fa fa-google"></a>
        <a href="javascript:;" class="fa fa-linkedin"></a>
      </div>
    </div>

  </div>

  <!--/span-->
  <div  id="map" class="col-6 col-sm-6 col-lg-5" style="height: 330px; margin-right: 15px"></div>
  <script>

      function initMap() {
          var myLatLng = {lat: 10.8075407, lng: 106.6956841};

          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 18,
              center: myLatLng
          });

          var marker = new google.maps.Marker({
              position: myLatLng,
              label: {
                  color: 'black',
                  fontWeight: 'bold',
                  text: '1004 Team',
              },
              icon: {
                  labelOrigin: new google.maps.Point(-40, 0),
                  url: 'https://cdn2.iconfinder.com/data/icons/humano2/24x24/apps/beryl-manager.png',
                  size: new google.maps.Size(22, 40),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(11, 40),
              },
              map: map,
              title: '1004 Team'
          });
      }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOLXQEiFpcKhSn46AzpQG76OtEr-RIjq4&callback=initMap">
  </script>
  <!--/span-->
</div>
<!--/row-->